body {
  background: rgba(0, 0, 0, 0.1);
}
.wrapper{
  max-width: 900px;
  margin: 0 auto;
  padding: 30px;
}
.posts{
  display:flex;
}
.posts__title{
  margin: 20px;
  color:black;
  text-decoration:none;
}
.comments{
  margin:10px;
  padding:5px;
  border:1px solid black;
}
.comments__name{
  font-weight: bold;
}
.comments__email{
  font-style:italic;
}